.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.progress {
    width: 50%;
    height: 50%;
    background-color: #ddd;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.buttons button {
    margin-right: 40px;
}
